.title__content {
    font-family: sohne, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 38px;
    line-height: 52px;
    letter-spacing: -.011em;
}

h3 .title__content {
       font-family: sohne, Helvetica Neue, Helvetica, Arial, sans-serif;
       font-weight: 700;
       font-size: 30px;
       line-height: 40px;
       letter-spacing: -.011em;
   }

h4 .title__content {
       font-family: sohne, Helvetica Neue, Helvetica, Arial, sans-serif;
       font-weight: 700;
       font-size: 26px;
       line-height: 40px;
       letter-spacing: -.011em;
   }

.list>li:before {
    top: 6px;
}

.list._decimal>li:before {
    top: 5px;
}

.code {
    line-height: 32px;
    font-size: 18px;
}

.article__p {
    line-height: 32px;
    font-family: source-serif-pro, Georgia, Cambria, Times New Roman, Times, serif;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -.003em;
}

.article__img {
    border-radius: 30px !important;
    border: none;
}